* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Arial', sans-serif;
  transition: 0.2s;
}

h1 {
  font-size: 3.2em;
}
body.light-mode {
  background-color: rgb(33, 33, 255);
  color: #333333;
}
body.dark-mode {
  background-color: rgb(25, 25, 143);
  color: white;
}

#boggle-container {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  margin: auto;
}
body.light-mode #boggle-container {
  background-color: white;
}
body.dark-mode #boggle-container {
  background-color: rgb(53, 53, 53);
}

#timer, .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#word-curr {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#word-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#words-found {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}

#board {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  justify-content: center;
  margin: 0 auto;
}

button {
  padding: 10px 15px;
  margin: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: lightgray;
  color: black;
}
body.light-mode button {
  background-color: lightgray;
  color: black;
}
body.dark-mode button {
  background-color: gray;
  color: white;
}

button:hover {
  background-color: lightgray;
  transform: scale(1.02);
  transition: 0.2s;
}

.cell#one {
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.cell#two {
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: yellow;
}

.cell#one:hover {
  animation: colorChange 1.5s forwards;
  transform: scale(1.03);
  transition: 0.3s;
}

@keyframes colorChange {
  0% { background-color: lightgrey; }
  50% { background-color: yellow; } 
  100% { background-color: lightgrey; } 
}
body.light-mode .cell {
  background-color: rgb(225, 224, 224);
  color: black;
}
body.dark-mode .cell {
  background-color: rgb(107, 107, 107);
  color: white;
}

.header {
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
}

.footer {
  padding: 5px;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
}

body.light-mode .header, body.light-mode .footer {
  background-color: white;
}

body.dark-mode .header, body.dark-mode .footer {
  background-color: rgb(53, 53, 53);
}

a.github-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.error-message {
  max-width: 300px;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
