html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  transition: background-color 0.2s, color 0.2s;
}

body.light-mode {
  background-color: rgb(59, 59, 234);
  color: #333333;
  justify-content: center;
}

body.dark-mode {
  background-color: rgb(24, 24, 119);
  color: white;
  justify-content: center;
}

body #boggle-container {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
}

body.light-mode #boggle-container {
  background-color: white;
}

body.dark-mode #boggle-container {
  background-color: rgb(53, 53, 53);
}

body #board {
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  justify-content: center;
  margin-bottom: 20px;
}

body button {
  padding: 10px 15px;
  margin: 5px;
  background-color: gray;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

body.light-mode button {
  background-color: rgb(225, 224, 224);
  color: black;
}

body.dark-mode button {
  background-color: rgb(107, 107, 107);
  color: white;
}

body button:hover {
  background-color: lightgray;
  transform: scale(1.02);
  transition: 0.2s;
  transform: 0.1s;
}

body .cell {
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.2s;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

body .cell:hover {
  transform: scale(1.02);
  transition: 0.2s;
  transform: 0.2s;
}

body.light-mode .cell {
  background-color: rgb(225, 224, 224);
  color: black;
}

body.dark-mode .cell {
  background-color: rgb(107, 107, 107);
  color: white;
}
