body.light-mode {
    background-color: #6495ED;
    color: #333333;
}

body.dark-mode {
    background-color: #00008B;
    color: white;
}

#boggle-container.light-mode {
    max-width: 600px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

#boggle-container.dark-mode {
    max-width: 600px;
    margin: 20px auto;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
}

#board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.cell {
    background-color: #ddd;
    color: black;
    text-align: center;
    padding: 15px;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
}